<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="work" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %c - %m%n" />
		</layout>
	</appender>

	<logger name="com.github.ppodgorsek.juncacher">
		<level value="DEBUG" />
		<appender-ref ref="work" />
	</logger>

	<logger name="net.sf.ehcache">
		<level value="WARN" />
		<appender-ref ref="work" />
	</logger>

	<logger name="org.springframework">
		<level value="DEBUG" />
		<appender-ref ref="work" />
	</logger>

</log4j:configuration>
